:{$PORT}

route / {
	reverse_proxy localhost:4010
}

route /http-api/echo {
  reverse_proxy localhost:4010
}

route /http-api/openapi {
	reverse_proxy localhost:4010
}

route /http-protocol/openapi {
	reverse_proxy localhost:4010
}

route /js-playwright/openapi {
	reverse_proxy localhost:4010
}

route /postman/openapi {
	reverse_proxy localhost:4010
}

route /assets {
  reverse_proxy localhost:4010
}

route /http-api/example {
	reverse_proxy localhost:4010
}

route /http-protocol/login {
	reverse_proxy localhost:4010
}

route /http-protocol/stream {
	reverse_proxy localhost:4010
}

route /http-protocol/removed {
	reverse_proxy localhost:4010
}

route /http-protocol {
	reverse_proxy localhost:4010
}

route /js-playwright/users-list {
	reverse_proxy localhost:4010
}

route /js-dom-testing-library/users-list {
	reverse_proxy localhost:4010
}

route /http-api/* {
	uri strip_prefix /http-api
	reverse_proxy localhost:4011
}

route /http-protocol/* {
	uri strip_prefix /http-protocol
	reverse_proxy localhost:4011
}

route /js-playwright/* {
	uri strip_prefix /playwright
	reverse_proxy localhost:4012
}

route /postman/* {
	uri strip_prefix /postman
	reverse_proxy localhost:4013
}
